# Python & Environment
venv/
__pycache__/
.env
.ipynb_checkpoints/

# YOLO Artifacts
runs/
*.pt

# User Uploads & Results
static/uploads/*
static/results/*
static/batch_results/*
!static/uploads/.gitkeep  
!static/results/.gitkeep
!static/batch_results/.gitkeep

# Application logs
app.log

# Ignore local test images except docs
*.jpg
*.jpeg
*.png
!docs/
!custom_dataset/